tr8ts1/scripts/php/locker1/server/lockersupport.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="lockersupport" targetNamespace="urn:lockersupport" xmlns:typens="urn:lockersupport" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:lockersupport">
			<xsd:complexType name="Locker_Support_Data">
				<xsd:all>
					<xsd:element name="_description" type="xsd:anyType"/>
					<xsd:element name="_displaytext" type="xsd:anyType"/>
					<xsd:element name="_id" type="xsd:anyType"/>
					<xsd:element name="_url" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="anyTypeArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="Locker_Citation_Content_Type">
				<xsd:all>
					<xsd:element name="_citationcontenttypeid" type="xsd:anyType"/>
					<xsd:element name="_description" type="xsd:anyType"/>
					<xsd:element name="_pubmediumid" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_Citation_Format_Example">
				<xsd:all>
					<xsd:element name="_citationcontenttypeid" type="xsd:anyType"/>
					<xsd:element name="_citationexample" type="xsd:anyType"/>
					<xsd:element name="_citationformat" type="xsd:anyType"/>
					<xsd:element name="_citationformatexampleid" type="xsd:anyType"/>
					<xsd:element name="_citationtypeid" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_Interest">
				<xsd:all>
					<xsd:element name="_description" type="xsd:anyType"/>
					<xsd:element name="_interestid" type="xsd:anyType"/>
					<xsd:element name="_interesttypeid" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_Skillbuilder">
				<xsd:all>
					<xsd:element name="_description" type="xsd:anyType"/>
					<xsd:element name="_lessonplanid" type="xsd:anyType"/>
					<xsd:element name="_skillbuilderid" type="xsd:anyType"/>
					<xsd:element name="_sortpriority" type="xsd:anyType"/>
					<xsd:element name="_tasktypearray" type="xsd:anyType"/>
					<xsd:element name="_title" type="xsd:anyType"/>
					<xsd:element name="_tooltypearray" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_Task_Type">
				<xsd:all>
					<xsd:element name="_description" type="xsd:anyType"/>
					<xsd:element name="_skillbuilderarray" type="xsd:anyType"/>
					<xsd:element name="_sortpriority" type="xsd:anyType"/>
					<xsd:element name="_tasktypeid" type="xsd:anyType"/>
					<xsd:element name="_title" type="xsd:anyType"/>
					<xsd:element name="_tooltypearray" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_Tool_Type">
				<xsd:all>
					<xsd:element name="_description" type="xsd:anyType"/>
					<xsd:element name="_skillbuilderarray" type="xsd:anyType"/>
					<xsd:element name="_title" type="xsd:anyType"/>
					<xsd:element name="_tooltypeid" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="__construct"/>
	<message name="__constructResponse"/>
	<message name="__destruct"/>
	<message name="__destructResponse"/>
	<message name="getassignmentstatus">
		<part name="assignmentstatusid" type="xsd:anyType"/>
	</message>
	<message name="getassignmentstatusResponse">
		<part name="getassignmentstatusReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getassignmentstatuslist"/>
	<message name="getassignmentstatuslistResponse">
		<part name="getassignmentstatuslistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getassignmenttype">
		<part name="assignmenttypeid" type="xsd:anyType"/>
	</message>
	<message name="getassignmenttypeResponse">
		<part name="getassignmenttypeReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getassignmenttypelist"/>
	<message name="getassignmenttypelistResponse">
		<part name="getassignmenttypelistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getcitationcontenttype">
		<part name="citationcontenttypeid" type="xsd:anyType"/>
	</message>
	<message name="getcitationcontenttypeResponse">
		<part name="getcitationcontenttypeReturn" type="typens:Locker_Citation_Content_Type"/>
	</message>
	<message name="getcitationcontenttypelist"/>
	<message name="getcitationcontenttypelistResponse">
		<part name="getcitationcontenttypelistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getcitationformatexample">
		<part name="citationtypeid" type="xsd:anyType"/>
		<part name="citationcontenttypeid" type="xsd:anyType"/>
	</message>
	<message name="getcitationformatexampleResponse">
		<part name="getcitationformatexampleReturn" type="typens:Locker_Citation_Format_Example"/>
	</message>
	<message name="getcitationformatexamplelist"/>
	<message name="getcitationformatexamplelistResponse">
		<part name="getcitationformatexamplelistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getcitationsourcetype">
		<part name="citationsourcetypeid" type="xsd:anyType"/>
	</message>
	<message name="getcitationsourcetypeResponse">
		<part name="getcitationsourcetypeReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getcitationsourcetypelist"/>
	<message name="getcitationsourcetypelistResponse">
		<part name="getcitationsourcetypelistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getcitationtype">
		<part name="citationtypeid" type="xsd:anyType"/>
	</message>
	<message name="getcitationtypeResponse">
		<part name="getcitationtypeReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getcitationtypelist"/>
	<message name="getcitationtypelistResponse">
		<part name="getcitationtypelistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getdigitallockerfoldertype">
		<part name="digitallockerfoldertypeid" type="xsd:anyType"/>
	</message>
	<message name="getdigitallockerfoldertypeResponse">
		<part name="getdigitallockerfoldertypeReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getdigitallockerfoldertypelist"/>
	<message name="getdigitallockerfoldertypelistResponse">
		<part name="getdigitallockerfoldertypelistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getfinaldraftformat">
		<part name="finaldraftformatid" type="xsd:anyType"/>
	</message>
	<message name="getfinaldraftformatResponse">
		<part name="getfinaldraftformatReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getfinaldraftformatlist"/>
	<message name="getfinaldraftformatlistResponse">
		<part name="getfinaldraftformatlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getfinaldraftmodel">
		<part name="finaldraftmodelid" type="xsd:anyType"/>
	</message>
	<message name="getfinaldraftmodelResponse">
		<part name="getfinaldraftmodelReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getfinaldraftmodellist"/>
	<message name="getfinaldraftmodellistResponse">
		<part name="getfinaldraftmodellistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getglobaltypesdigitallockerfoldertype">
		<part name="globaltype" type="xsd:anyType"/>
	</message>
	<message name="getglobaltypesdigitallockerfoldertypeResponse">
		<part name="getglobaltypesdigitallockerfoldertypeReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getinterest">
		<part name="interestid" type="xsd:anyType"/>
	</message>
	<message name="getinterestResponse">
		<part name="getinterestReturn" type="typens:Locker_Interest"/>
	</message>
	<message name="getinterestlist"/>
	<message name="getinterestlistResponse">
		<part name="getinterestlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getinteresttype">
		<part name="interesttypeid" type="xsd:anyType"/>
	</message>
	<message name="getinteresttypeResponse">
		<part name="getinteresttypeReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getinteresttypelist"/>
	<message name="getinteresttypelistResponse">
		<part name="getinteresttypelistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getmarketingoption">
		<part name="marketingprefid" type="xsd:anyType"/>
	</message>
	<message name="getmarketingoptionResponse">
		<part name="getmarketingoptionReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getmarketingoptionlist"/>
	<message name="getmarketingoptionlistResponse">
		<part name="getmarketingoptionlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getprofiletype">
		<part name="profiletypeid" type="xsd:anyType"/>
	</message>
	<message name="getprofiletypeResponse">
		<part name="getprofiletypeReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getprofiletypelist"/>
	<message name="getprofiletypelistResponse">
		<part name="getprofiletypelistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getpubmediumtype">
		<part name="pubmediumid" type="xsd:anyType"/>
	</message>
	<message name="getpubmediumtypeResponse">
		<part name="getpubmediumtypeReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getpubmediumtypelist"/>
	<message name="getpubmediumtypelistResponse">
		<part name="getpubmediumtypelistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getreadinglevel">
		<part name="lexilelevel" type="xsd:anyType"/>
		<part name="productid" type="xsd:string"/>
	</message>
	<message name="getreadinglevelResponse">
		<part name="getreadinglevelReturn" type="xsd:anyType"/>
	</message>
	<message name="getrubricquestion">
		<part name="rubricquestionid" type="xsd:anyType"/>
	</message>
	<message name="getrubricquestionResponse">
		<part name="getrubricquestionReturn" type="typens:arrayArray"/>
	</message>
	<message name="getrubricquestionlist">
		<part name="tasktypeid"/>
	</message>
	<message name="getrubricquestionlistResponse">
		<part name="getrubricquestionlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getsecurityquestion">
		<part name="securityquestionid" type="xsd:anyType"/>
	</message>
	<message name="getsecurityquestionResponse">
		<part name="getsecurityquestionReturn" type="typens:Locker_Support_Data"/>
	</message>
	<message name="getsecurityquestionlist"/>
	<message name="getsecurityquestionlistResponse">
		<part name="getsecurityquestionlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getskillbuilder">
		<part name="skillbuilderid" type="xsd:anyType"/>
	</message>
	<message name="getskillbuilderResponse">
		<part name="getskillbuilderReturn" type="typens:Locker_Skillbuilder"/>
	</message>
	<message name="getskillbuilderlist"/>
	<message name="getskillbuilderlistResponse">
		<part name="getskillbuilderlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getskillbuildertasklist">
		<part name="skillbuilderid" type="xsd:anyType"/>
	</message>
	<message name="getskillbuildertasklistResponse">
		<part name="getskillbuildertasklistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getskillbuildertoollist">
		<part name="skillbuilderid" type="xsd:anyType"/>
	</message>
	<message name="getskillbuildertoollistResponse">
		<part name="getskillbuildertoollistReturn" type="typens:arrayArray"/>
	</message>
	<message name="gettaskskillbuilderlist">
		<part name="tasktypeid" type="xsd:anyType"/>
	</message>
	<message name="gettaskskillbuilderlistResponse">
		<part name="gettaskskillbuilderlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="gettasktoollist">
		<part name="tasktypeid" type="xsd:anyType"/>
	</message>
	<message name="gettasktoollistResponse">
		<part name="gettasktoollistReturn" type="typens:arrayArray"/>
	</message>
	<message name="gettasktype">
		<part name="tasktypeid" type="xsd:anyType"/>
	</message>
	<message name="gettasktypeResponse">
		<part name="gettasktypeReturn" type="typens:Locker_Task_Type"/>
	</message>
	<message name="gettasktypelist"/>
	<message name="gettasktypelistResponse">
		<part name="gettasktypelistReturn" type="typens:arrayArray"/>
	</message>
	<message name="gettoolskillbuilderlist">
		<part name="tooltypeid" type="xsd:anyType"/>
	</message>
	<message name="gettoolskillbuilderlistResponse">
		<part name="gettoolskillbuilderlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="gettooltype">
		<part name="tooltypeid" type="xsd:anyType"/>
	</message>
	<message name="gettooltypeResponse">
		<part name="gettooltypeReturn" type="typens:Locker_Tool_Type"/>
	</message>
	<message name="gettooltypelist"/>
	<message name="gettooltypelistResponse">
		<part name="gettooltypelistReturn" type="typens:arrayArray"/>
	</message>
	<portType name="Locker_Support_ServerPortType">
		<operation name="__construct">
			<documentation>
				Constructor
			</documentation>
			<input message="typens:__construct"/>
			<output message="typens:__constructResponse"/>
		</operation>
		<operation name="__destruct">
			<documentation>
				Destructor
			</documentation>
			<input message="typens:__destruct"/>
			<output message="typens:__destructResponse"/>
		</operation>
		<operation name="getassignmentstatus">
			<documentation>
				getassignmentstatus
			</documentation>
			<input message="typens:getassignmentstatus"/>
			<output message="typens:getassignmentstatusResponse"/>
		</operation>
		<operation name="getassignmentstatuslist">
			<documentation>
				getassignmentstatuslist
			</documentation>
			<input message="typens:getassignmentstatuslist"/>
			<output message="typens:getassignmentstatuslistResponse"/>
		</operation>
		<operation name="getassignmenttype">
			<documentation>
				getassignmenttype
			</documentation>
			<input message="typens:getassignmenttype"/>
			<output message="typens:getassignmenttypeResponse"/>
		</operation>
		<operation name="getassignmenttypelist">
			<documentation>
				getassignmenttypelist
			</documentation>
			<input message="typens:getassignmenttypelist"/>
			<output message="typens:getassignmenttypelistResponse"/>
		</operation>
		<operation name="getcitationcontenttype">
			<documentation>
				getcitationcontenttype
			</documentation>
			<input message="typens:getcitationcontenttype"/>
			<output message="typens:getcitationcontenttypeResponse"/>
		</operation>
		<operation name="getcitationcontenttypelist">
			<documentation>
				getcitationcontenttypelist
			</documentation>
			<input message="typens:getcitationcontenttypelist"/>
			<output message="typens:getcitationcontenttypelistResponse"/>
		</operation>
		<operation name="getcitationformatexample">
			<documentation>
				getcitationformatexample
			</documentation>
			<input message="typens:getcitationformatexample"/>
			<output message="typens:getcitationformatexampleResponse"/>
		</operation>
		<operation name="getcitationformatexamplelist">
			<documentation>
				getcitationformatexamplelist
			</documentation>
			<input message="typens:getcitationformatexamplelist"/>
			<output message="typens:getcitationformatexamplelistResponse"/>
		</operation>
		<operation name="getcitationsourcetype">
			<documentation>
				getcitationsourcetype
			</documentation>
			<input message="typens:getcitationsourcetype"/>
			<output message="typens:getcitationsourcetypeResponse"/>
		</operation>
		<operation name="getcitationsourcetypelist">
			<documentation>
				getcitationsourcetypelist
			</documentation>
			<input message="typens:getcitationsourcetypelist"/>
			<output message="typens:getcitationsourcetypelistResponse"/>
		</operation>
		<operation name="getcitationtype">
			<documentation>
				getcitationtype
			</documentation>
			<input message="typens:getcitationtype"/>
			<output message="typens:getcitationtypeResponse"/>
		</operation>
		<operation name="getcitationtypelist">
			<documentation>
				getcitationtypelist
			</documentation>
			<input message="typens:getcitationtypelist"/>
			<output message="typens:getcitationtypelistResponse"/>
		</operation>
		<operation name="getdigitallockerfoldertype">
			<documentation>
				getdigitallockerfoldertype
			</documentation>
			<input message="typens:getdigitallockerfoldertype"/>
			<output message="typens:getdigitallockerfoldertypeResponse"/>
		</operation>
		<operation name="getdigitallockerfoldertypelist">
			<documentation>
				getdigitallockerfoldertypelist
			</documentation>
			<input message="typens:getdigitallockerfoldertypelist"/>
			<output message="typens:getdigitallockerfoldertypelistResponse"/>
		</operation>
		<operation name="getfinaldraftformat">
			<documentation>
				getfinaldraftformat
			</documentation>
			<input message="typens:getfinaldraftformat"/>
			<output message="typens:getfinaldraftformatResponse"/>
		</operation>
		<operation name="getfinaldraftformatlist">
			<documentation>
				getfinaldraftformatlist
			</documentation>
			<input message="typens:getfinaldraftformatlist"/>
			<output message="typens:getfinaldraftformatlistResponse"/>
		</operation>
		<operation name="getfinaldraftmodel">
			<documentation>
				getfinaldraftmodel
			</documentation>
			<input message="typens:getfinaldraftmodel"/>
			<output message="typens:getfinaldraftmodelResponse"/>
		</operation>
		<operation name="getfinaldraftmodellist">
			<documentation>
				getfinaldraftmodellist
			</documentation>
			<input message="typens:getfinaldraftmodellist"/>
			<output message="typens:getfinaldraftmodellistResponse"/>
		</operation>
		<operation name="getglobaltypesdigitallockerfoldertype">
			<documentation>
				getglobaltypesdigitallockerfoldertype
			</documentation>
			<input message="typens:getglobaltypesdigitallockerfoldertype"/>
			<output message="typens:getglobaltypesdigitallockerfoldertypeResponse"/>
		</operation>
		<operation name="getinterest">
			<documentation>
				getinterest
			</documentation>
			<input message="typens:getinterest"/>
			<output message="typens:getinterestResponse"/>
		</operation>
		<operation name="getinterestlist">
			<documentation>
				getinterestlist
			</documentation>
			<input message="typens:getinterestlist"/>
			<output message="typens:getinterestlistResponse"/>
		</operation>
		<operation name="getinteresttype">
			<documentation>
				getinteresttype
			</documentation>
			<input message="typens:getinteresttype"/>
			<output message="typens:getinteresttypeResponse"/>
		</operation>
		<operation name="getinteresttypelist">
			<documentation>
				getinteresttypelist
			</documentation>
			<input message="typens:getinteresttypelist"/>
			<output message="typens:getinteresttypelistResponse"/>
		</operation>
		<operation name="getmarketingoption">
			<documentation>
				getmarketingoption
			</documentation>
			<input message="typens:getmarketingoption"/>
			<output message="typens:getmarketingoptionResponse"/>
		</operation>
		<operation name="getmarketingoptionlist">
			<documentation>
				getmarketingoptionlist
			</documentation>
			<input message="typens:getmarketingoptionlist"/>
			<output message="typens:getmarketingoptionlistResponse"/>
		</operation>
		<operation name="getprofiletype">
			<documentation>
				getprofiletype
			</documentation>
			<input message="typens:getprofiletype"/>
			<output message="typens:getprofiletypeResponse"/>
		</operation>
		<operation name="getprofiletypelist">
			<documentation>
				getprofiletypelist
			</documentation>
			<input message="typens:getprofiletypelist"/>
			<output message="typens:getprofiletypelistResponse"/>
		</operation>
		<operation name="getpubmediumtype">
			<documentation>
				getpubmediumtype
			</documentation>
			<input message="typens:getpubmediumtype"/>
			<output message="typens:getpubmediumtypeResponse"/>
		</operation>
		<operation name="getpubmediumtypelist">
			<documentation>
				getpubmediumtypelist
			</documentation>
			<input message="typens:getpubmediumtypelist"/>
			<output message="typens:getpubmediumtypelistResponse"/>
		</operation>
		<operation name="getreadinglevel">
			<documentation>
				getreadinglevel
			</documentation>
			<input message="typens:getreadinglevel"/>
			<output message="typens:getreadinglevelResponse"/>
		</operation>
		<operation name="getrubricquestion">
			<documentation>
				getrubricquestion
			</documentation>
			<input message="typens:getrubricquestion"/>
			<output message="typens:getrubricquestionResponse"/>
		</operation>
		<operation name="getrubricquestionlist">
			<documentation>
				getrubricquestionlist
			</documentation>
			<input message="typens:getrubricquestionlist"/>
			<output message="typens:getrubricquestionlistResponse"/>
		</operation>
		<operation name="getsecurityquestion">
			<documentation>
				getsecurityquestion
			</documentation>
			<input message="typens:getsecurityquestion"/>
			<output message="typens:getsecurityquestionResponse"/>
		</operation>
		<operation name="getsecurityquestionlist">
			<documentation>
				getsecurityquestionlist
			</documentation>
			<input message="typens:getsecurityquestionlist"/>
			<output message="typens:getsecurityquestionlistResponse"/>
		</operation>
		<operation name="getskillbuilder">
			<documentation>
				getskillbuilder
			</documentation>
			<input message="typens:getskillbuilder"/>
			<output message="typens:getskillbuilderResponse"/>
		</operation>
		<operation name="getskillbuilderlist">
			<documentation>
				getskillbuilderlist
			</documentation>
			<input message="typens:getskillbuilderlist"/>
			<output message="typens:getskillbuilderlistResponse"/>
		</operation>
		<operation name="getskillbuildertasklist">
			<documentation>
				getskillbuildertasklist
			</documentation>
			<input message="typens:getskillbuildertasklist"/>
			<output message="typens:getskillbuildertasklistResponse"/>
		</operation>
		<operation name="getskillbuildertoollist">
			<documentation>
				getskillbuildertoollist
			</documentation>
			<input message="typens:getskillbuildertoollist"/>
			<output message="typens:getskillbuildertoollistResponse"/>
		</operation>
		<operation name="gettaskskillbuilderlist">
			<documentation>
				gettaskskillbuilderlist
			</documentation>
			<input message="typens:gettaskskillbuilderlist"/>
			<output message="typens:gettaskskillbuilderlistResponse"/>
		</operation>
		<operation name="gettasktoollist">
			<documentation>
				gettasktoollist
			</documentation>
			<input message="typens:gettasktoollist"/>
			<output message="typens:gettasktoollistResponse"/>
		</operation>
		<operation name="gettasktype">
			<documentation>
				gettasktype
			</documentation>
			<input message="typens:gettasktype"/>
			<output message="typens:gettasktypeResponse"/>
		</operation>
		<operation name="gettasktypelist">
			<documentation>
				gettasktypelist
			</documentation>
			<input message="typens:gettasktypelist"/>
			<output message="typens:gettasktypelistResponse"/>
		</operation>
		<operation name="gettoolskillbuilderlist">
			<documentation>
				gettoolskillbuilderlist
			</documentation>
			<input message="typens:gettoolskillbuilderlist"/>
			<output message="typens:gettoolskillbuilderlistResponse"/>
		</operation>
		<operation name="gettooltype">
			<documentation>
				gettooltype
			</documentation>
			<input message="typens:gettooltype"/>
			<output message="typens:gettooltypeResponse"/>
		</operation>
		<operation name="gettooltypelist">
			<documentation>
				gettooltypelist
			</documentation>
			<input message="typens:gettooltypelist"/>
			<output message="typens:gettooltypelistResponse"/>
		</operation>
	</portType>
	<binding name="Locker_Support_ServerBinding" type="typens:Locker_Support_ServerPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="__construct">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="__destruct">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getassignmentstatus">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getassignmentstatuslist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getassignmenttype">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getassignmenttypelist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcitationcontenttype">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcitationcontenttypelist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcitationformatexample">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcitationformatexamplelist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcitationsourcetype">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcitationsourcetypelist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcitationtype">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcitationtypelist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getdigitallockerfoldertype">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getdigitallockerfoldertypelist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getfinaldraftformat">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getfinaldraftformatlist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getfinaldraftmodel">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getfinaldraftmodellist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getglobaltypesdigitallockerfoldertype">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getinterest">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getinterestlist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getinteresttype">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getinteresttypelist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getmarketingoption">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getmarketingoptionlist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getprofiletype">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getprofiletypelist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getpubmediumtype">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getpubmediumtypelist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getreadinglevel">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getrubricquestion">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getrubricquestionlist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getsecurityquestion">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getsecurityquestionlist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getskillbuilder">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getskillbuilderlist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getskillbuildertasklist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getskillbuildertoollist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="gettaskskillbuilderlist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="gettasktoollist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="gettasktype">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="gettasktypelist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="gettoolskillbuilderlist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="gettooltype">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="gettooltypelist">
			<soap:operation soapAction="urn:Locker_Support_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockersupport" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="lockersupportService">
		<port name="Locker_Support_ServerPort" binding="typens:Locker_Support_ServerBinding">
			<soap:address location="http://fivedev.grolier.com:1135/lockersupportserver"/>
		</port>
	</service>
</definitions>
