tr8ts1/scripts/php/locker1/server/lockerprofile.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="lockerprofile" targetNamespace="urn:lockerprofile" xmlns:typens="urn:lockerprofile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:lockerprofile">
			<xsd:complexType name="anyTypeArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="Locker_Assignment">
				<xsd:all>
					<xsd:element name="_active" type="xsd:anyType"/>
					<xsd:element name="_assignmentid" type="xsd:anyType"/>
					<xsd:element name="_assignmenttype" type="xsd:anyType"/>
					<xsd:element name="_bibliographyid" type="xsd:anyType"/>
					<xsd:element name="_citationarray" type="xsd:anyType"/>
					<xsd:element name="_citationsourcearray" type="xsd:anyType"/>
					<xsd:element name="_citationtypeid" type="xsd:anyType"/>
					<xsd:element name="_completiondate" type="xsd:anyType"/>
					<xsd:element name="_creationdate" type="xsd:anyType"/>
					<xsd:element name="_daysleft" type="xsd:anyType"/>
					<xsd:element name="_duedate" type="xsd:anyType"/>
					<xsd:element name="_finaldraftformatid" type="xsd:anyType"/>
					<xsd:element name="_grouparray" type="xsd:anyType"/>
					<xsd:element name="_lengthoffinaldraft" type="xsd:anyType"/>
					<xsd:element name="_nexttaskobj" type="xsd:anyType"/>
					<xsd:element name="_notecardarray" type="xsd:anyType"/>
					<xsd:element name="_numofsources" type="xsd:anyType"/>
					<xsd:element name="_othercitationsource" type="xsd:anyType"/>
					<xsd:element name="_outlineid" type="xsd:anyType"/>
					<xsd:element name="_paraphrase" type="xsd:anyType"/>
					<xsd:element name="_productid" type="xsd:anyType"/>
					<xsd:element name="_profileid" type="xsd:anyType"/>
					<xsd:element name="_progress" type="xsd:anyType"/>
					<xsd:element name="_sort" type="xsd:anyType"/>
					<xsd:element name="_status" type="xsd:anyType"/>
					<xsd:element name="_taskarray" type="xsd:anyType"/>
					<xsd:element name="_title" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_Assignment_Stats">
				<xsd:all>
					<xsd:element name="_assignmentid" type="xsd:anyType"/>
					<xsd:element name="_daysleft" type="xsd:anyType"/>
					<xsd:element name="_nexttaskobj" type="xsd:anyType"/>
					<xsd:element name="_profileid" type="xsd:anyType"/>
					<xsd:element name="_progress" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_Bibliography">
				<xsd:all>
					<xsd:element name="_assignmentid" type="xsd:anyType"/>
					<xsd:element name="_bibliographyid" type="xsd:anyType"/>
					<xsd:element name="_citationarray" type="xsd:anyType"/>
					<xsd:element name="_creationdate" type="xsd:anyType"/>
					<xsd:element name="_modifieddate" type="xsd:anyType"/>
					<xsd:element name="_profileid" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_Citation">
				<xsd:all>
					<xsd:element name="_assignmentid" type="xsd:anyType"/>
					<xsd:element name="_autocite" type="xsd:anyType"/>
					<xsd:element name="_citationcontenttypeid" type="xsd:anyType"/>
					<xsd:element name="_citationid" type="xsd:anyType"/>
					<xsd:element name="_citationtext" type="xsd:anyType"/>
					<xsd:element name="_citationtextarray" type="xsd:anyType"/>
					<xsd:element name="_creationdate" type="xsd:anyType"/>
					<xsd:element name="_modifieddate" type="xsd:anyType"/>
					<xsd:element name="_profileid" type="xsd:anyType"/>
					<xsd:element name="_pubmediumid" type="xsd:anyType"/>
					<xsd:element name="_sort" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_Task">
				<xsd:all>
					<xsd:element name="_assignmentid" type="xsd:anyType"/>
					<xsd:element name="_completiondate" type="xsd:anyType"/>
					<xsd:element name="_creationdate" type="xsd:anyType"/>
					<xsd:element name="_description" type="xsd:anyType"/>
					<xsd:element name="_duedate" type="xsd:anyType"/>
					<xsd:element name="_modifieddate" type="xsd:anyType"/>
					<xsd:element name="_profileid" type="xsd:anyType"/>
					<xsd:element name="_rubricanswerarray" type="xsd:anyType"/>
					<xsd:element name="_sort" type="xsd:anyType"/>
					<xsd:element name="_taskid" type="xsd:anyType"/>
					<xsd:element name="_tasktype" type="xsd:anyType"/>
					<xsd:element name="_title" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_Group">
				<xsd:all>
					<xsd:element name="_assignmentid" type="xsd:anyType"/>
					<xsd:element name="_creationdate" type="xsd:anyType"/>
					<xsd:element name="_groupid" type="xsd:anyType"/>
					<xsd:element name="_modifieddate" type="xsd:anyType"/>
					<xsd:element name="_profileid" type="xsd:anyType"/>
					<xsd:element name="_sort" type="xsd:anyType"/>
					<xsd:element name="_title" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_Notecard">
				<xsd:all>
					<xsd:element name="_assignmentid" type="xsd:anyType"/>
					<xsd:element name="_charcountdirectquote" type="xsd:anyType"/>
					<xsd:element name="_charcountparaphrase" type="xsd:anyType"/>
					<xsd:element name="_citationid" type="xsd:anyType"/>
					<xsd:element name="_creationdate" type="xsd:anyType"/>
					<xsd:element name="_directquote" type="xsd:anyType"/>
					<xsd:element name="_groupid" type="xsd:anyType"/>
					<xsd:element name="_modifieddate" type="xsd:anyType"/>
					<xsd:element name="_notecardid" type="xsd:anyType"/>
					<xsd:element name="_paraphrase" type="xsd:anyType"/>
					<xsd:element name="_profileid" type="xsd:anyType"/>
					<xsd:element name="_sort" type="xsd:anyType"/>
					<xsd:element name="_title" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_Profile">
				<xsd:all>
					<xsd:element name="_active" type="xsd:anyType"/>
					<xsd:element name="_creationdate" type="xsd:anyType"/>
					<xsd:element name="_currentassignmentid" type="xsd:anyType"/>
					<xsd:element name="_emailaddress" type="xsd:anyType"/>
					<xsd:element name="_gradearray" type="xsd:anyType"/>
					<xsd:element name="_interestarray" type="xsd:anyType"/>
					<xsd:element name="_lastlogindate" type="xsd:anyType"/>
					<xsd:element name="_lexilerange" type="xsd:anyType"/>
					<xsd:element name="_marketingprefarray" type="xsd:anyType"/>
					<xsd:element name="_nickname" type="xsd:anyType"/>
					<xsd:element name="_parentid" type="xsd:anyType"/>
					<xsd:element name="_password" type="xsd:anyType"/>
					<xsd:element name="_productid" type="xsd:anyType"/>
					<xsd:element name="_profileid" type="xsd:anyType"/>
					<xsd:element name="_profiletype" type="xsd:anyType"/>
					<xsd:element name="_securityanswer" type="xsd:anyType"/>
					<xsd:element name="_securityquestid" type="xsd:anyType"/>
					<xsd:element name="_shardid" type="xsd:anyType"/>
					<xsd:element name="_username" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Locker_IAuthProfile">
				<xsd:all>
					<xsd:element name="_auarray" type="xsd:anyType"/>
					<xsd:element name="_isvalid" type="xsd:anyType"/>
					<xsd:element name="_parentid" type="xsd:anyType"/>
					<xsd:element name="_password" type="xsd:anyType"/>
					<xsd:element name="_profilecookiearray" type="xsd:anyType"/>
					<xsd:element name="_profileid" type="xsd:anyType"/>
					<xsd:element name="_recipientid" type="xsd:anyType"/>
					<xsd:element name="_userid" type="xsd:anyType"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="__construct"/>
	<message name="__constructResponse"/>
	<message name="__destruct"/>
	<message name="__destructResponse"/>
	<message name="copysavedcontent">
		<part name="profileid" type="xsd:string"/>
		<part name="id" type="xsd:string"/>
		<part name="contenttype" type="xsd:anyType"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="copysavedcontentResponse">
		<part name="copysavedcontentReturn" type="xsd:string"/>
	</message>
	<message name="createSAMuser">
		<part name="guid" type="xsd:string"/>
		<part name="statecode" type="xsd:string"/>
		<part name="userdata" type="xsd:anyType"/>
	</message>
	<message name="createSAMuserResponse">
		<part name="createSAMuserReturn" type="xsd:anyType"/>
	</message>
	<message name="createuser">
		<part name="username" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="nickname" type="xsd:string"/>
		<part name="securityquestionid" type="xsd:anyType"/>
		<part name="securityanswer" type="xsd:string"/>
		<part name="profiletype" type="xsd:anyType"/>
		<part name="parent_auid" type="xsd:string"/>
	</message>
	<message name="createuserResponse">
		<part name="createuserReturn" type="xsd:string"/>
	</message>
	<message name="deleteassignment">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="deleteassignmentResponse"/>
	<message name="deletebibliography">
		<part name="profileid" type="xsd:string"/>
		<part name="bibliographyid" type="xsd:string"/>
	</message>
	<message name="deletebibliographyResponse"/>
	<message name="deletechildren">
		<part name="parentid" type="xsd:string"/>
	</message>
	<message name="deletechildrenResponse">
		<part name="deletechildrenReturn" type="xsd:anyType"/>
	</message>
	<message name="deletecitation">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="citationid" type="xsd:string"/>
	</message>
	<message name="deletecitationResponse"/>
	<message name="deletegroup">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="groupid" type="xsd:string"/>
	</message>
	<message name="deletegroupResponse"/>
	<message name="deletenotecard">
		<part name="profileid" type="xsd:string"/>
		<part name="notecardid" type="xsd:string"/>
	</message>
	<message name="deletenotecardResponse"/>
	<message name="deletenotecardgroup">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="notecardid" type="xsd:string"/>
	</message>
	<message name="deletenotecardgroupResponse"/>
	<message name="deletesavedcontent">
		<part name="profileid" type="xsd:string"/>
		<part name="id" type="xsd:string"/>
		<part name="contenttype" type="xsd:anyType"/>
	</message>
	<message name="deletesavedcontentResponse"/>
	<message name="deletetask">
		<part name="profileid" type="xsd:string"/>
		<part name="taskid" type="xsd:string"/>
	</message>
	<message name="deletetaskResponse"/>
	<message name="deleteuser">
		<part name="profileid" type="xsd:string"/>
	</message>
	<message name="deleteuserResponse">
		<part name="deleteuserReturn" type="xsd:anyType"/>
	</message>
	<message name="getallusers"/>
	<message name="getallusersResponse">
		<part name="getallusersReturn" type="typens:arrayArray"/>
	</message>
	<message name="getassignment">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="getassignmentResponse">
		<part name="getassignmentReturn" type="typens:Locker_Assignment"/>
	</message>
	<message name="getassignmentassetlist">
		<part name="profileid" type="xsd:string"/>
		<part name="assetid" type="xsd:string"/>
		<part name="productid" type="xsd:string"/>
		<part name="type" type="xsd:string"/>
		<part name="sort" type="xsd:string"/>
	</message>
	<message name="getassignmentassetlistResponse">
		<part name="getassignmentassetlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getassignmentdaysleft">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="getassignmentdaysleftResponse">
		<part name="getassignmentdaysleftReturn" type="xsd:anyType"/>
	</message>
	<message name="getassignmentlist">
		<part name="profileid" type="xsd:string"/>
		<part name="productid" type="xsd:anyType"/>
		<part name="active" type="xsd:anyType"/>
		<part name="sort" type="xsd:string"/>
	</message>
	<message name="getassignmentlistResponse">
		<part name="getassignmentlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getassignmentpercentcomplete">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="getassignmentpercentcompleteResponse">
		<part name="getassignmentpercentcompleteReturn" type="xsd:string"/>
	</message>
	<message name="getassignmentstats">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="getassignmentstatsResponse">
		<part name="getassignmentstatsReturn" type="typens:Locker_Assignment_Stats"/>
	</message>
	<message name="getbibliography">
		<part name="profileid" type="xsd:string"/>
		<part name="bibliographyid" type="xsd:string"/>
	</message>
	<message name="getbibliographyResponse">
		<part name="getbibliographyReturn" type="typens:Locker_Bibliography"/>
	</message>
	<message name="getbibliographylist">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="getbibliographylistResponse">
		<part name="getbibliographylistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getcitation">
		<part name="profileid" type="xsd:string"/>
		<part name="citationid" type="xsd:string"/>
	</message>
	<message name="getcitationResponse">
		<part name="getcitationReturn" type="typens:Locker_Citation"/>
	</message>
	<message name="getcitationcount">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="getcitationcountResponse">
		<part name="getcitationcountReturn" type="xsd:string"/>
	</message>
	<message name="getcitationlist">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="bibliographyid" type="xsd:string"/>
		<part name="sort" type="xsd:string"/>
	</message>
	<message name="getcitationlistResponse">
		<part name="getcitationlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getcompleteshardlist"/>
	<message name="getcompleteshardlistResponse">
		<part name="getcompleteshardlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getcurrentassignment">
		<part name="profileid" type="xsd:string"/>
		<part name="productid" type="xsd:string"/>
	</message>
	<message name="getcurrentassignmentResponse">
		<part name="getcurrentassignmentReturn" type="typens:Locker_Assignment"/>
	</message>
	<message name="getcurrentdate"/>
	<message name="getcurrentdateResponse">
		<part name="getcurrentdateReturn" type="xsd:string"/>
	</message>
	<message name="getcurrenttask">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="getcurrenttaskResponse">
		<part name="getcurrenttaskReturn" type="typens:Locker_Task"/>
	</message>
	<message name="getgroup">
		<part name="profileid" type="xsd:string"/>
		<part name="groupid" type="xsd:string"/>
	</message>
	<message name="getgroupResponse">
		<part name="getgroupReturn" type="typens:Locker_Group"/>
	</message>
	<message name="getgrouplist">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="sort" type="xsd:string"/>
	</message>
	<message name="getgrouplistResponse">
		<part name="getgrouplistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getlogininfo">
		<part name="emailaddress" type="xsd:string"/>
		<part name="parent_auid" type="xsd:string"/>
	</message>
	<message name="getlogininfoResponse">
		<part name="getlogininfoReturn" type="typens:arrayArray"/>
	</message>
	<message name="getmarketinguserlist"/>
	<message name="getmarketinguserlistResponse">
		<part name="getmarketinguserlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getnotecard">
		<part name="profileid" type="xsd:string"/>
		<part name="notecardid" type="xsd:string"/>
	</message>
	<message name="getnotecardResponse">
		<part name="getnotecardReturn" type="typens:Locker_Notecard"/>
	</message>
	<message name="getnotecardcount">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="getnotecardcountResponse">
		<part name="getnotecardcountReturn" type="xsd:string"/>
	</message>
	<message name="getnotecardlist">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="sort"/>
	</message>
	<message name="getnotecardlistResponse">
		<part name="getnotecardlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getnumofelementspershard">
		<part name="elementtype" type="xsd:string"/>
	</message>
	<message name="getnumofelementspershardResponse">
		<part name="getnumofelementspershardReturn" type="typens:arrayArray"/>
	</message>
	<message name="getnumofparentspershard"/>
	<message name="getnumofparentspershardResponse">
		<part name="getnumofparentspershardReturn" type="typens:arrayArray"/>
	</message>
	<message name="getnumofusers"/>
	<message name="getnumofusersResponse">
		<part name="getnumofusersReturn" type="xsd:anyType"/>
	</message>
	<message name="getnumofuserspershard"/>
	<message name="getnumofuserspershardResponse">
		<part name="getnumofuserspershardReturn" type="typens:arrayArray"/>
	</message>
	<message name="getoutline">
		<part name="profileid" type="xsd:string"/>
		<part name="outlineid" type="xsd:string"/>
	</message>
	<message name="getoutlineResponse">
		<part name="getoutlineReturn" type="typens:arrayArray"/>
	</message>
	<message name="getoutlinelist">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="getoutlinelistResponse">
		<part name="getoutlinelistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getprofile">
		<part name="profileid" type="xsd:string"/>
	</message>
	<message name="getprofileResponse">
		<part name="getprofileReturn" type="typens:Locker_Profile"/>
	</message>
	<message name="getprofileid">
		<part name="username" type="xsd:string"/>
	</message>
	<message name="getprofileidResponse">
		<part name="getprofileidReturn" type="xsd:anyType"/>
	</message>
	<message name="getrubricanswerlist">
		<part name="profileid" type="xsd:string"/>
		<part name="taskid" type="xsd:string"/>
	</message>
	<message name="getrubricanswerlistResponse">
		<part name="getrubricanswerlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getshardlist"/>
	<message name="getshardlistResponse">
		<part name="getshardlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getstuffcollected">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="type" type="xsd:anyType"/>
	</message>
	<message name="getstuffcollectedResponse">
		<part name="getstuffcollectedReturn" type="xsd:anyType"/>
	</message>
	<message name="getstuffcollectedcounts">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="getstuffcollectedcountsResponse">
		<part name="getstuffcollectedcountsReturn" type="xsd:anyType"/>
	</message>
	<message name="gettask">
		<part name="profileid" type="xsd:string"/>
		<part name="taskid" type="xsd:string"/>
	</message>
	<message name="gettaskResponse">
		<part name="gettaskReturn" type="typens:Locker_Task"/>
	</message>
	<message name="gettaskbytype">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="tasktype" type="xsd:anyType"/>
	</message>
	<message name="gettaskbytypeResponse">
		<part name="gettaskbytypeReturn" type="typens:Locker_Task"/>
	</message>
	<message name="gettasklist">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="sort" type="xsd:string"/>
	</message>
	<message name="gettasklistResponse">
		<part name="gettasklistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getuserlist">
		<part name="parentid" type="xsd:string"/>
	</message>
	<message name="getuserlistResponse">
		<part name="getuserlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="getusernamecount">
		<part name="username" type="xsd:string"/>
		<part name="parent_auid" type="xsd:string"/>
	</message>
	<message name="getusernamecountResponse">
		<part name="getusernamecountReturn" type="xsd:string"/>
	</message>
	<message name="insertassignment">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmenttype" type="xsd:string"/>
		<part name="title" type="xsd:string"/>
		<part name="productid" type="xsd:string"/>
		<part name="active" type="xsd:string"/>
		<part name="duedate" type="xsd:string"/>
		<part name="status" type="xsd:anyType"/>
	</message>
	<message name="insertassignmentResponse">
		<part name="insertassignmentReturn" type="xsd:anyType"/>
	</message>
	<message name="insertassignmentdetails">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="assignmentvalue" type="xsd:string"/>
		<part name="citationtypeid" type="xsd:anyType"/>
	</message>
	<message name="insertassignmentdetailsResponse"/>
	<message name="insertautocitation">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="bibliographyid" type="xsd:string"/>
		<part name="mlacitationtext" type="xsd:string"/>
		<part name="chicagocitationtext" type="xsd:string"/>
		<part name="apacitationtext" type="xsd:string"/>
	</message>
	<message name="insertautocitationResponse">
		<part name="insertautocitationReturn"/>
	</message>
	<message name="insertbibliography">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="insertbibliographyResponse">
		<part name="insertbibliographyReturn"/>
	</message>
	<message name="insertcustomcitation">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="bibliographyid" type="xsd:string"/>
		<part name="citationtext" type="xsd:string"/>
		<part name="pubmediumid" type="xsd:anyType"/>
		<part name="citationsourcetypeid" type="xsd:anyType"/>
	</message>
	<message name="insertcustomcitationResponse">
		<part name="insertcustomcitationReturn"/>
	</message>
	<message name="insertgroup">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="title" type="xsd:string"/>
	</message>
	<message name="insertgroupResponse">
		<part name="insertgroupReturn" type="xsd:anyType"/>
	</message>
	<message name="insertnewassignment">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmenttype" type="xsd:string"/>
		<part name="title" type="xsd:string"/>
		<part name="productid" type="xsd:string"/>
		<part name="active" type="xsd:string"/>
		<part name="duedate" type="xsd:string"/>
	</message>
	<message name="insertnewassignmentResponse">
		<part name="insertnewassignmentReturn" type="xsd:anyType"/>
	</message>
	<message name="insertnotecard">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="title" type="xsd:string"/>
		<part name="directquote" type="xsd:string"/>
		<part name="paraphrase" type="xsd:string"/>
		<part name="charcountdirectquote" type="xsd:anyType"/>
		<part name="charcountparaphrase" type="xsd:anyType"/>
		<part name="citationid" type="xsd:string"/>
		<part name="groupid" type="xsd:string"/>
	</message>
	<message name="insertnotecardResponse">
		<part name="insertnotecardReturn" type="xsd:anyType"/>
	</message>
	<message name="insertprofiledetails">
		<part name="profileid" type="xsd:string"/>
		<part name="productid" type="xsd:string"/>
		<part name="profilevalue" type="xsd:string"/>
		<part name="currentassignmentid" type="xsd:string"/>
		<part name="lexilerange" type="xsd:anyType"/>
	</message>
	<message name="insertprofiledetailsResponse"/>
	<message name="insertsavedasset">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="assetid" type="xsd:string"/>
		<part name="sourceproductid" type="xsd:string"/>
		<part name="type" type="xsd:string"/>
		<part name="title" type="xsd:string"/>
		<part name="uid" type="xsd:string"/>
	</message>
	<message name="insertsavedassetResponse">
		<part name="insertsavedassetReturn"/>
	</message>
	<message name="insertsavedweblink">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="url" type="xsd:string"/>
		<part name="weblinktype" type="xsd:string"/>
		<part name="title" type="xsd:string"/>
		<part name="location" type="xsd:string"/>
	</message>
	<message name="insertsavedweblinkResponse">
		<part name="insertsavedweblinkReturn"/>
	</message>
	<message name="inserttask">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="tasktype" type="xsd:anyType"/>
		<part name="duedate" type="xsd:string"/>
		<part name="customdescription" type="xsd:string"/>
	</message>
	<message name="inserttaskResponse">
		<part name="inserttaskReturn" type="xsd:anyType"/>
	</message>
	<message name="isassignmenttitlevalid">
		<part name="profileid" type="xsd:string"/>
		<part name="productid" type="xsd:string"/>
		<part name="title" type="xsd:string"/>
	</message>
	<message name="isassignmenttitlevalidResponse">
		<part name="isassignmenttitlevalidReturn" type="xsd:anyType"/>
	</message>
	<message name="marktaskincomplete">
		<part name="profileid" type="xsd:string"/>
		<part name="taskid" type="xsd:string"/>
	</message>
	<message name="marktaskincompleteResponse">
		<part name="marktaskincompleteReturn" type="xsd:anyType"/>
	</message>
	<message name="movesavedcontent">
		<part name="profileid" type="xsd:string"/>
		<part name="id" type="xsd:string"/>
		<part name="contenttype" type="xsd:anyType"/>
		<part name="assignmentid" type="xsd:string"/>
	</message>
	<message name="movesavedcontentResponse">
		<part name="movesavedcontentReturn" type="xsd:string"/>
	</message>
	<message name="searchuserlist">
		<part name="searchterm" type="xsd:string"/>
	</message>
	<message name="searchuserlistResponse">
		<part name="searchuserlistReturn" type="typens:arrayArray"/>
	</message>
	<message name="setoutline">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="outlineid" type="xsd:string"/>
		<part name="linearray" type="xsd:anyType"/>
	</message>
	<message name="setoutlineResponse">
		<part name="setoutlineReturn" type="xsd:anyType"/>
	</message>
	<message name="setrubricanswers">
		<part name="profileid" type="xsd:string"/>
		<part name="taskid" type="xsd:string"/>
		<part name="rubricanswerarray" type="xsd:anyType"/>
	</message>
	<message name="setrubricanswersResponse">
		<part name="setrubricanswersReturn" type="xsd:anyType"/>
	</message>
	<message name="updateassignment">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="title" type="xsd:string"/>
		<part name="duedate" type="xsd:string"/>
	</message>
	<message name="updateassignmentResponse"/>
	<message name="updateassignmentactive">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="active" type="xsd:anyType"/>
	</message>
	<message name="updateassignmentactiveResponse"/>
	<message name="updateassignmentcitationtype">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="citationtypeid" type="xsd:anyType"/>
	</message>
	<message name="updateassignmentcitationtypeResponse"/>
	<message name="updateassignmentcompletiondate">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="taskid" type="xsd:string"/>
		<part name="status" type="xsd:anyType"/>
	</message>
	<message name="updateassignmentcompletiondateResponse"/>
	<message name="updateassignmentdetails">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="citationtypeid" type="xsd:anyType"/>
		<part name="assignmentvalue" type="xsd:string"/>
	</message>
	<message name="updateassignmentdetailsResponse"/>
	<message name="updateassignmentduedate">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="duedate" type="xsd:string"/>
	</message>
	<message name="updateassignmentduedateResponse"/>
	<message name="updateassignmentstatus">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="status" type="xsd:anyType"/>
	</message>
	<message name="updateassignmentstatusResponse"/>
	<message name="updateassignmenttitle">
		<part name="profileid" type="xsd:string"/>
		<part name="assignmentid" type="xsd:string"/>
		<part name="title" type="xsd:string"/>
	</message>
	<message name="updateassignmenttitleResponse"/>
	<message name="updatecitation">
		<part name="profileid" type="xsd:string"/>
		<part name="citationid" type="xsd:string"/>
		<part name="citationtext" type="xsd:string"/>
		<part name="pubmediumid" type="xsd:anyType"/>
		<part name="citationcontenttypeid" type="xsd:anyType"/>
	</message>
	<message name="updatecitationResponse"/>
	<message name="updategroupmodifieddate">
		<part name="profileid" type="xsd:string"/>
		<part name="groupid" type="xsd:string"/>
	</message>
	<message name="updategroupmodifieddateResponse"/>
	<message name="updatenotecard">
		<part name="profileid" type="xsd:string"/>
		<part name="notecardid" type="xsd:string"/>
		<part name="title" type="xsd:string"/>
		<part name="directquote" type="xsd:string"/>
		<part name="paraphrase" type="xsd:string"/>
		<part name="charcountdirectquote" type="xsd:anyType"/>
		<part name="charcountparaphrase" type="xsd:anyType"/>
		<part name="groupid" type="xsd:string"/>
	</message>
	<message name="updatenotecardResponse"/>
	<message name="updatenotecardcitation">
		<part name="profileid" type="xsd:string"/>
		<part name="notecardid" type="xsd:string"/>
		<part name="citationid" type="xsd:string"/>
	</message>
	<message name="updatenotecardcitationResponse"/>
	<message name="updatenotecardgroup">
		<part name="profileid" type="xsd:string"/>
		<part name="notecardid" type="xsd:string"/>
		<part name="groupid" type="xsd:string"/>
	</message>
	<message name="updatenotecardgroupResponse"/>
	<message name="updatenotecardmodifieddate">
		<part name="profileid" type="xsd:string"/>
		<part name="notecardid" type="xsd:string"/>
	</message>
	<message name="updatenotecardmodifieddateResponse"/>
	<message name="updatepassword">
		<part name="username" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
	</message>
	<message name="updatepasswordResponse">
		<part name="updatepasswordReturn" type="xsd:anyType"/>
	</message>
	<message name="updateprofile">
		<part name="profileid" type="xsd:string"/>
		<part name="username" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="nickname" type="xsd:string"/>
		<part name="securityquestionid" type="xsd:anyType"/>
		<part name="securityanswer" type="xsd:string"/>
		<part name="profiletype" type="xsd:anyType"/>
	</message>
	<message name="updateprofileResponse"/>
	<message name="updateprofilecurrentassignment">
		<part name="profileid" type="xsd:string"/>
		<part name="productid" type="xsd:string"/>
		<part name="currentassignmentid" type="xsd:string"/>
	</message>
	<message name="updateprofilecurrentassignmentResponse"/>
	<message name="updateprofiledetails">
		<part name="profileid" type="xsd:string"/>
		<part name="productid" type="xsd:string"/>
		<part name="currentassignmentid" type="xsd:string"/>
		<part name="profilevalue" type="xsd:string"/>
		<part name="lexilerange" type="xsd:anyType"/>
	</message>
	<message name="updateprofiledetailsResponse"/>
	<message name="updateprofilelastlogindate">
		<part name="profileid" type="xsd:string"/>
		<part name="lastlogin" type="xsd:string"/>
	</message>
	<message name="updateprofilelastlogindateResponse"/>
	<message name="updateprofilelexilerange">
		<part name="profileid" type="xsd:string"/>
		<part name="lexilerange" type="xsd:string"/>
	</message>
	<message name="updateprofilelexilerangeResponse">
		<part name="updateprofilelexilerangeReturn" type="xsd:boolean"/>
	</message>
	<message name="updatetaskcompletiondate">
		<part name="profileid" type="xsd:string"/>
		<part name="taskid" type="xsd:string"/>
	</message>
	<message name="updatetaskcompletiondateResponse"/>
	<message name="updatetaskdescription">
		<part name="profileid" type="xsd:string"/>
		<part name="taskid" type="xsd:string"/>
		<part name="customdescription" type="xsd:string"/>
	</message>
	<message name="updatetaskdescriptionResponse"/>
	<message name="updatetaskduedate">
		<part name="profileid" type="xsd:string"/>
		<part name="taskid" type="xsd:string"/>
		<part name="duedate" type="xsd:string"/>
	</message>
	<message name="updatetaskduedateResponse"/>
	<message name="updatetaskmodifieddate">
		<part name="profileid" type="xsd:string"/>
		<part name="taskid" type="xsd:string"/>
	</message>
	<message name="updatetaskmodifieddateResponse"/>
	<message name="validatelogin">
		<part name="username" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="productid" type="xsd:string"/>
	</message>
	<message name="validateloginResponse">
		<part name="validateloginReturn" type="typens:Locker_IAuthProfile"/>
	</message>
	<message name="validatesecurityquestion">
		<part name="username" type="xsd:string"/>
		<part name="securityquestionid" type="xsd:anyType"/>
		<part name="securityanswer" type="xsd:string"/>
	</message>
	<message name="validatesecurityquestionResponse">
		<part name="validatesecurityquestionReturn" type="xsd:anyType"/>
	</message>
	<portType name="Locker_ServerPortType">
		<operation name="__construct">
			<documentation>
				Constructor
			</documentation>
			<input message="typens:__construct"/>
			<output message="typens:__constructResponse"/>
		</operation>
		<operation name="__destruct">
			<documentation>
				Destructor
			</documentation>
			<input message="typens:__destruct"/>
			<output message="typens:__destructResponse"/>
		</operation>
		<operation name="copysavedcontent">
			<documentation>
				copysavedcontent
			</documentation>
			<input message="typens:copysavedcontent"/>
			<output message="typens:copysavedcontentResponse"/>
		</operation>
		<operation name="createSAMuser">
			<documentation>
				createSAMuser
			</documentation>
			<input message="typens:createSAMuser"/>
			<output message="typens:createSAMuserResponse"/>
		</operation>
		<operation name="createuser">
			<documentation>
				createuser
			</documentation>
			<input message="typens:createuser"/>
			<output message="typens:createuserResponse"/>
		</operation>
		<operation name="deleteassignment">
			<documentation>
				deleteassignment
			</documentation>
			<input message="typens:deleteassignment"/>
			<output message="typens:deleteassignmentResponse"/>
		</operation>
		<operation name="deletebibliography">
			<documentation>
				deletebibliography
			</documentation>
			<input message="typens:deletebibliography"/>
			<output message="typens:deletebibliographyResponse"/>
		</operation>
		<operation name="deletechildren">
			<documentation>
				deletechildren
			</documentation>
			<input message="typens:deletechildren"/>
			<output message="typens:deletechildrenResponse"/>
		</operation>
		<operation name="deletecitation">
			<documentation>
				deletecitation
			</documentation>
			<input message="typens:deletecitation"/>
			<output message="typens:deletecitationResponse"/>
		</operation>
		<operation name="deletegroup">
			<documentation>
				deletegroup
			</documentation>
			<input message="typens:deletegroup"/>
			<output message="typens:deletegroupResponse"/>
		</operation>
		<operation name="deletenotecard">
			<documentation>
				deletenotecard
			</documentation>
			<input message="typens:deletenotecard"/>
			<output message="typens:deletenotecardResponse"/>
		</operation>
		<operation name="deletenotecardgroup">
			<documentation>
				deletenotecardgroup
			</documentation>
			<input message="typens:deletenotecardgroup"/>
			<output message="typens:deletenotecardgroupResponse"/>
		</operation>
		<operation name="deletesavedcontent">
			<documentation>
				deletesavedcontent
			</documentation>
			<input message="typens:deletesavedcontent"/>
			<output message="typens:deletesavedcontentResponse"/>
		</operation>
		<operation name="deletetask">
			<documentation>
				deletetask
			</documentation>
			<input message="typens:deletetask"/>
			<output message="typens:deletetaskResponse"/>
		</operation>
		<operation name="deleteuser">
			<documentation>
				deleteuser
			</documentation>
			<input message="typens:deleteuser"/>
			<output message="typens:deleteuserResponse"/>
		</operation>
		<operation name="getallusers">
			<documentation>
				getallusers
			</documentation>
			<input message="typens:getallusers"/>
			<output message="typens:getallusersResponse"/>
		</operation>
		<operation name="getassignment">
			<documentation>
				getassignment
			</documentation>
			<input message="typens:getassignment"/>
			<output message="typens:getassignmentResponse"/>
		</operation>
		<operation name="getassignmentassetlist">
			<documentation>
				getassignmentassetlist
			</documentation>
			<input message="typens:getassignmentassetlist"/>
			<output message="typens:getassignmentassetlistResponse"/>
		</operation>
		<operation name="getassignmentdaysleft">
			<documentation>
				getassignmentdaysleft
			</documentation>
			<input message="typens:getassignmentdaysleft"/>
			<output message="typens:getassignmentdaysleftResponse"/>
		</operation>
		<operation name="getassignmentlist">
			<documentation>
				getassignmentlist
			</documentation>
			<input message="typens:getassignmentlist"/>
			<output message="typens:getassignmentlistResponse"/>
		</operation>
		<operation name="getassignmentpercentcomplete">
			<documentation>
				getassignmentpercentcomplete
			</documentation>
			<input message="typens:getassignmentpercentcomplete"/>
			<output message="typens:getassignmentpercentcompleteResponse"/>
		</operation>
		<operation name="getassignmentstats">
			<documentation>
				getassignmentstats
			</documentation>
			<input message="typens:getassignmentstats"/>
			<output message="typens:getassignmentstatsResponse"/>
		</operation>
		<operation name="getbibliography">
			<documentation>
				getbibliography
			</documentation>
			<input message="typens:getbibliography"/>
			<output message="typens:getbibliographyResponse"/>
		</operation>
		<operation name="getbibliographylist">
			<documentation>
				getbibliographylist
			</documentation>
			<input message="typens:getbibliographylist"/>
			<output message="typens:getbibliographylistResponse"/>
		</operation>
		<operation name="getcitation">
			<documentation>
				getcitation
			</documentation>
			<input message="typens:getcitation"/>
			<output message="typens:getcitationResponse"/>
		</operation>
		<operation name="getcitationcount">
			<documentation>
				getcitationcount
			</documentation>
			<input message="typens:getcitationcount"/>
			<output message="typens:getcitationcountResponse"/>
		</operation>
		<operation name="getcitationlist">
			<documentation>
				getcitationlist
			</documentation>
			<input message="typens:getcitationlist"/>
			<output message="typens:getcitationlistResponse"/>
		</operation>
		<operation name="getcompleteshardlist">
			<documentation>
				getcompleteshardlist
			</documentation>
			<input message="typens:getcompleteshardlist"/>
			<output message="typens:getcompleteshardlistResponse"/>
		</operation>
		<operation name="getcurrentassignment">
			<documentation>
				getcurrentassignment
			</documentation>
			<input message="typens:getcurrentassignment"/>
			<output message="typens:getcurrentassignmentResponse"/>
		</operation>
		<operation name="getcurrentdate">
			<documentation>
				getcurrentdate
			</documentation>
			<input message="typens:getcurrentdate"/>
			<output message="typens:getcurrentdateResponse"/>
		</operation>
		<operation name="getcurrenttask">
			<documentation>
				getcurrenttask
			</documentation>
			<input message="typens:getcurrenttask"/>
			<output message="typens:getcurrenttaskResponse"/>
		</operation>
		<operation name="getgroup">
			<documentation>
				getgroup
			</documentation>
			<input message="typens:getgroup"/>
			<output message="typens:getgroupResponse"/>
		</operation>
		<operation name="getgrouplist">
			<documentation>
				getgrouplist
			</documentation>
			<input message="typens:getgrouplist"/>
			<output message="typens:getgrouplistResponse"/>
		</operation>
		<operation name="getlogininfo">
			<documentation>
				getlogininfo
			</documentation>
			<input message="typens:getlogininfo"/>
			<output message="typens:getlogininfoResponse"/>
		</operation>
		<operation name="getmarketinguserlist">
			<documentation>
				getmarketinguserlist
			</documentation>
			<input message="typens:getmarketinguserlist"/>
			<output message="typens:getmarketinguserlistResponse"/>
		</operation>
		<operation name="getnotecard">
			<documentation>
				getnotecard
			</documentation>
			<input message="typens:getnotecard"/>
			<output message="typens:getnotecardResponse"/>
		</operation>
		<operation name="getnotecardcount">
			<documentation>
				getnotecardcount
			</documentation>
			<input message="typens:getnotecardcount"/>
			<output message="typens:getnotecardcountResponse"/>
		</operation>
		<operation name="getnotecardlist">
			<documentation>
				getnotecardlist
			</documentation>
			<input message="typens:getnotecardlist"/>
			<output message="typens:getnotecardlistResponse"/>
		</operation>
		<operation name="getnumofelementspershard">
			<documentation>
				getnumofelementspershard
			</documentation>
			<input message="typens:getnumofelementspershard"/>
			<output message="typens:getnumofelementspershardResponse"/>
		</operation>
		<operation name="getnumofparentspershard">
			<documentation>
				getnumofparentspershard
			</documentation>
			<input message="typens:getnumofparentspershard"/>
			<output message="typens:getnumofparentspershardResponse"/>
		</operation>
		<operation name="getnumofusers">
			<documentation>
				getnumofusers
			</documentation>
			<input message="typens:getnumofusers"/>
			<output message="typens:getnumofusersResponse"/>
		</operation>
		<operation name="getnumofuserspershard">
			<documentation>
				getnumofuserspershard
			</documentation>
			<input message="typens:getnumofuserspershard"/>
			<output message="typens:getnumofuserspershardResponse"/>
		</operation>
		<operation name="getoutline">
			<documentation>
				getoutline
			</documentation>
			<input message="typens:getoutline"/>
			<output message="typens:getoutlineResponse"/>
		</operation>
		<operation name="getoutlinelist">
			<documentation>
				getoutlinelist
			</documentation>
			<input message="typens:getoutlinelist"/>
			<output message="typens:getoutlinelistResponse"/>
		</operation>
		<operation name="getprofile">
			<documentation>
				getprofile
			</documentation>
			<input message="typens:getprofile"/>
			<output message="typens:getprofileResponse"/>
		</operation>
		<operation name="getprofileid">
			<documentation>
				getprofileid
			</documentation>
			<input message="typens:getprofileid"/>
			<output message="typens:getprofileidResponse"/>
		</operation>
		<operation name="getrubricanswerlist">
			<documentation>
				getrubricanswerlist
			</documentation>
			<input message="typens:getrubricanswerlist"/>
			<output message="typens:getrubricanswerlistResponse"/>
		</operation>
		<operation name="getshardlist">
			<documentation>
				getshardlist
			</documentation>
			<input message="typens:getshardlist"/>
			<output message="typens:getshardlistResponse"/>
		</operation>
		<operation name="getstuffcollected">
			<documentation>
				getstuffcollected
			</documentation>
			<input message="typens:getstuffcollected"/>
			<output message="typens:getstuffcollectedResponse"/>
		</operation>
		<operation name="getstuffcollectedcounts">
			<documentation>
				getstuffcollectedcounts
			</documentation>
			<input message="typens:getstuffcollectedcounts"/>
			<output message="typens:getstuffcollectedcountsResponse"/>
		</operation>
		<operation name="gettask">
			<documentation>
				gettask
			</documentation>
			<input message="typens:gettask"/>
			<output message="typens:gettaskResponse"/>
		</operation>
		<operation name="gettaskbytype">
			<documentation>
				gettaskbytype
			</documentation>
			<input message="typens:gettaskbytype"/>
			<output message="typens:gettaskbytypeResponse"/>
		</operation>
		<operation name="gettasklist">
			<documentation>
				gettasklist
			</documentation>
			<input message="typens:gettasklist"/>
			<output message="typens:gettasklistResponse"/>
		</operation>
		<operation name="getuserlist">
			<documentation>
				getuserlist
			</documentation>
			<input message="typens:getuserlist"/>
			<output message="typens:getuserlistResponse"/>
		</operation>
		<operation name="getusernamecount">
			<documentation>
				getusernamecount
			</documentation>
			<input message="typens:getusernamecount"/>
			<output message="typens:getusernamecountResponse"/>
		</operation>
		<operation name="insertassignment">
			<documentation>
				insertassignment
			</documentation>
			<input message="typens:insertassignment"/>
			<output message="typens:insertassignmentResponse"/>
		</operation>
		<operation name="insertassignmentdetails">
			<documentation>
				insertassignmentdetails
			</documentation>
			<input message="typens:insertassignmentdetails"/>
			<output message="typens:insertassignmentdetailsResponse"/>
		</operation>
		<operation name="insertautocitation">
			<documentation>
				insertautocitation
			</documentation>
			<input message="typens:insertautocitation"/>
			<output message="typens:insertautocitationResponse"/>
		</operation>
		<operation name="insertbibliography">
			<documentation>
				insertbibliography
			</documentation>
			<input message="typens:insertbibliography"/>
			<output message="typens:insertbibliographyResponse"/>
		</operation>
		<operation name="insertcustomcitation">
			<documentation>
				insertcustomcitation
			</documentation>
			<input message="typens:insertcustomcitation"/>
			<output message="typens:insertcustomcitationResponse"/>
		</operation>
		<operation name="insertgroup">
			<documentation>
				insertgroup
			</documentation>
			<input message="typens:insertgroup"/>
			<output message="typens:insertgroupResponse"/>
		</operation>
		<operation name="insertnewassignment">
			<documentation>
				insertnewassignment
			</documentation>
			<input message="typens:insertnewassignment"/>
			<output message="typens:insertnewassignmentResponse"/>
		</operation>
		<operation name="insertnotecard">
			<documentation>
				insertnotecard
			</documentation>
			<input message="typens:insertnotecard"/>
			<output message="typens:insertnotecardResponse"/>
		</operation>
		<operation name="insertprofiledetails">
			<documentation>
				insertprofiledetails
			</documentation>
			<input message="typens:insertprofiledetails"/>
			<output message="typens:insertprofiledetailsResponse"/>
		</operation>
		<operation name="insertsavedasset">
			<documentation>
				insertsavedasset
			</documentation>
			<input message="typens:insertsavedasset"/>
			<output message="typens:insertsavedassetResponse"/>
		</operation>
		<operation name="insertsavedweblink">
			<documentation>
				insertsavedweblink
			</documentation>
			<input message="typens:insertsavedweblink"/>
			<output message="typens:insertsavedweblinkResponse"/>
		</operation>
		<operation name="inserttask">
			<documentation>
				inserttask
			</documentation>
			<input message="typens:inserttask"/>
			<output message="typens:inserttaskResponse"/>
		</operation>
		<operation name="isassignmenttitlevalid">
			<documentation>
				isassignmenttitlevalid
			</documentation>
			<input message="typens:isassignmenttitlevalid"/>
			<output message="typens:isassignmenttitlevalidResponse"/>
		</operation>
		<operation name="marktaskincomplete">
			<documentation>
				marktaskincomplete
			</documentation>
			<input message="typens:marktaskincomplete"/>
			<output message="typens:marktaskincompleteResponse"/>
		</operation>
		<operation name="movesavedcontent">
			<documentation>
				movesavedcontent
			</documentation>
			<input message="typens:movesavedcontent"/>
			<output message="typens:movesavedcontentResponse"/>
		</operation>
		<operation name="searchuserlist">
			<documentation>
				searchuserlist
			</documentation>
			<input message="typens:searchuserlist"/>
			<output message="typens:searchuserlistResponse"/>
		</operation>
		<operation name="setoutline">
			<documentation>
				setoutline
			</documentation>
			<input message="typens:setoutline"/>
			<output message="typens:setoutlineResponse"/>
		</operation>
		<operation name="setrubricanswers">
			<documentation>
				setrubricanswers
			</documentation>
			<input message="typens:setrubricanswers"/>
			<output message="typens:setrubricanswersResponse"/>
		</operation>
		<operation name="updateassignment">
			<documentation>
				updateassignment
			</documentation>
			<input message="typens:updateassignment"/>
			<output message="typens:updateassignmentResponse"/>
		</operation>
		<operation name="updateassignmentactive">
			<documentation>
				updateassignmentactive
			</documentation>
			<input message="typens:updateassignmentactive"/>
			<output message="typens:updateassignmentactiveResponse"/>
		</operation>
		<operation name="updateassignmentcitationtype">
			<documentation>
				updateassignmentcitationtype
			</documentation>
			<input message="typens:updateassignmentcitationtype"/>
			<output message="typens:updateassignmentcitationtypeResponse"/>
		</operation>
		<operation name="updateassignmentcompletiondate">
			<documentation>
				updateassignmentcompletiondate
			</documentation>
			<input message="typens:updateassignmentcompletiondate"/>
			<output message="typens:updateassignmentcompletiondateResponse"/>
		</operation>
		<operation name="updateassignmentdetails">
			<documentation>
				updateassignmentdetails
			</documentation>
			<input message="typens:updateassignmentdetails"/>
			<output message="typens:updateassignmentdetailsResponse"/>
		</operation>
		<operation name="updateassignmentduedate">
			<documentation>
				updateassignmentduedate
			</documentation>
			<input message="typens:updateassignmentduedate"/>
			<output message="typens:updateassignmentduedateResponse"/>
		</operation>
		<operation name="updateassignmentstatus">
			<documentation>
				updateassignmentstatus
			</documentation>
			<input message="typens:updateassignmentstatus"/>
			<output message="typens:updateassignmentstatusResponse"/>
		</operation>
		<operation name="updateassignmenttitle">
			<documentation>
				updateassignmenttitle
			</documentation>
			<input message="typens:updateassignmenttitle"/>
			<output message="typens:updateassignmenttitleResponse"/>
		</operation>
		<operation name="updatecitation">
			<documentation>
				updatecitation
			</documentation>
			<input message="typens:updatecitation"/>
			<output message="typens:updatecitationResponse"/>
		</operation>
		<operation name="updategroupmodifieddate">
			<documentation>
				updategroupmodifieddate
			</documentation>
			<input message="typens:updategroupmodifieddate"/>
			<output message="typens:updategroupmodifieddateResponse"/>
		</operation>
		<operation name="updatenotecard">
			<documentation>
				updatenotecard
			</documentation>
			<input message="typens:updatenotecard"/>
			<output message="typens:updatenotecardResponse"/>
		</operation>
		<operation name="updatenotecardcitation">
			<documentation>
				updatenotecardcitation
			</documentation>
			<input message="typens:updatenotecardcitation"/>
			<output message="typens:updatenotecardcitationResponse"/>
		</operation>
		<operation name="updatenotecardgroup">
			<documentation>
				updatenotecardgroup
			</documentation>
			<input message="typens:updatenotecardgroup"/>
			<output message="typens:updatenotecardgroupResponse"/>
		</operation>
		<operation name="updatenotecardmodifieddate">
			<documentation>
				updatenotecardmodifieddate
			</documentation>
			<input message="typens:updatenotecardmodifieddate"/>
			<output message="typens:updatenotecardmodifieddateResponse"/>
		</operation>
		<operation name="updatepassword">
			<documentation>
				updatepassword
			</documentation>
			<input message="typens:updatepassword"/>
			<output message="typens:updatepasswordResponse"/>
		</operation>
		<operation name="updateprofile">
			<documentation>
				updateprofile
			</documentation>
			<input message="typens:updateprofile"/>
			<output message="typens:updateprofileResponse"/>
		</operation>
		<operation name="updateprofilecurrentassignment">
			<documentation>
				updateprofilecurrentassignment
			</documentation>
			<input message="typens:updateprofilecurrentassignment"/>
			<output message="typens:updateprofilecurrentassignmentResponse"/>
		</operation>
		<operation name="updateprofiledetails">
			<documentation>
				updateprofiledetails
			</documentation>
			<input message="typens:updateprofiledetails"/>
			<output message="typens:updateprofiledetailsResponse"/>
		</operation>
		<operation name="updateprofilelastlogindate">
			<documentation>
				updateprofilelastlogindate
			</documentation>
			<input message="typens:updateprofilelastlogindate"/>
			<output message="typens:updateprofilelastlogindateResponse"/>
		</operation>
		<operation name="updateprofilelexilerange">
			<documentation>
				updateprofilelexilerange
			</documentation>
			<input message="typens:updateprofilelexilerange"/>
			<output message="typens:updateprofilelexilerangeResponse"/>
		</operation>
		<operation name="updatetaskcompletiondate">
			<documentation>
				updatetaskcompletiondate
			</documentation>
			<input message="typens:updatetaskcompletiondate"/>
			<output message="typens:updatetaskcompletiondateResponse"/>
		</operation>
		<operation name="updatetaskdescription">
			<documentation>
				updatetaskdescription
			</documentation>
			<input message="typens:updatetaskdescription"/>
			<output message="typens:updatetaskdescriptionResponse"/>
		</operation>
		<operation name="updatetaskduedate">
			<documentation>
				updatetaskduedate
			</documentation>
			<input message="typens:updatetaskduedate"/>
			<output message="typens:updatetaskduedateResponse"/>
		</operation>
		<operation name="updatetaskmodifieddate">
			<documentation>
				updatetaskmodifieddate
			</documentation>
			<input message="typens:updatetaskmodifieddate"/>
			<output message="typens:updatetaskmodifieddateResponse"/>
		</operation>
		<operation name="validatelogin">
			<documentation>
				validatelogin
			</documentation>
			<input message="typens:validatelogin"/>
			<output message="typens:validateloginResponse"/>
		</operation>
		<operation name="validatesecurityquestion">
			<documentation>
				validatesecurityquestion
			</documentation>
			<input message="typens:validatesecurityquestion"/>
			<output message="typens:validatesecurityquestionResponse"/>
		</operation>
	</portType>
	<binding name="Locker_ServerBinding" type="typens:Locker_ServerPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="__construct">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="__destruct">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="copysavedcontent">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="createSAMuser">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="createuser">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteassignment">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deletebibliography">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deletechildren">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deletecitation">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deletegroup">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deletenotecard">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deletenotecardgroup">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deletesavedcontent">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deletetask">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="deleteuser">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getallusers">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getassignment">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getassignmentassetlist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getassignmentdaysleft">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getassignmentlist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getassignmentpercentcomplete">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getassignmentstats">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getbibliography">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getbibliographylist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcitation">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcitationcount">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcitationlist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcompleteshardlist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcurrentassignment">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcurrentdate">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getcurrenttask">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getgroup">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getgrouplist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getlogininfo">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getmarketinguserlist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getnotecard">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getnotecardcount">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getnotecardlist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getnumofelementspershard">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getnumofparentspershard">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getnumofusers">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getnumofuserspershard">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getoutline">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getoutlinelist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getprofile">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getprofileid">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getrubricanswerlist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getshardlist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getstuffcollected">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getstuffcollectedcounts">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="gettask">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="gettaskbytype">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="gettasklist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getuserlist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="getusernamecount">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="insertassignment">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="insertassignmentdetails">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="insertautocitation">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="insertbibliography">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="insertcustomcitation">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="insertgroup">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="insertnewassignment">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="insertnotecard">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="insertprofiledetails">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="insertsavedasset">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="insertsavedweblink">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="inserttask">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="isassignmenttitlevalid">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="marktaskincomplete">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="movesavedcontent">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="searchuserlist">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="setoutline">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="setrubricanswers">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateassignment">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateassignmentactive">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateassignmentcitationtype">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateassignmentcompletiondate">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateassignmentdetails">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateassignmentduedate">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateassignmentstatus">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateassignmenttitle">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updatecitation">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updategroupmodifieddate">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updatenotecard">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updatenotecardcitation">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updatenotecardgroup">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updatenotecardmodifieddate">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updatepassword">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateprofile">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateprofilecurrentassignment">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateprofiledetails">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateprofilelastlogindate">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updateprofilelexilerange">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updatetaskcompletiondate">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updatetaskdescription">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updatetaskduedate">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="updatetaskmodifieddate">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="validatelogin">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="validatesecurityquestion">
			<soap:operation soapAction="urn:Locker_ServerAction"/>
			<input>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:lockerprofile" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="lockerprofileService">
		<port name="Locker_ServerPort" binding="typens:Locker_ServerBinding">
			<soap:address location="http://fivedev.grolier.com:1135/lockerserver"/>
		</port>
	</service>
</definitions>
